
html{
	box-sizing: border-box;/*Para que el ancho no se altere*/
}

*,*:before,*:after{
	box-sizing: inherit;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: verdana,geneva,serif;
}

header{
	padding: 25px 0;
}

div.contenedor{
	width: 1200px;
	margin: 0 auto;
}

/** navegacion*/
.navegacion{
	background-color: #db008d;
}

nav{ /*padre debe llevar position relative*/
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

nav ul{
	list-style: none;
}
/*para seleccionar solo los elementos del primer nivel del ul y li*/
nav > ul > li{
	float: left;
}

nav ul::after{ /*clear fix limpiar float*/
	content: '';
	display: block;
	clear: both;
}

nav ul li a{
	display: inline-block;
	width: 200px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}

nav ul li a:hover{
	background-color: #00b8e4;
}

/*SEGUNDO NIVEL*/
nav ul ul{
	position: absolute;
	top: 100%;
	background-color: rgba(0,184,228,.7);
	display: none;
}
 /*cuando se haga hover en el li(primer hijo) se muestre el ul*/
nav ul li:hover > ul{
	display: block;	
}

nav ul li:hover{
	background-color: rgba(0,184,228,1);
}


/*CONTENIDO PRINCIPAL*/
div.contenido::after{
	content: '';
	display: block;
	clear: both;
}

main{
	width: 70%;
	float: left;
	padding-right: 40px;
}

/*entradas de post*/
article{
	margin-top: 30px;
}

h2{
	color: #00b8e4;
	margin-bottom: 20px;
}

article img{
	float: left;
	width: 300px;
	margin-right: 30px;
	border-radius: 50%;
}

article p{
	line-height: 2;
	text-align: justify;
}

.boton{
	background-color: #00b8e4;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;/*negritas*/
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
}


/*sodebar*/
aside{
	float: right;
	width: 30%;
	margin-top: 30px;
}

aside ul{
	list-style: none;
}

aside ul li{
	padding: 10px 0 10px 10px;
}

aside ul li:hover{
	background-color: #00b8e4;
	cursor: pointer;
}

aside ul li a{
	color: #00b8e4;
	text-decoration: none;
}
/*cuando se haga hover en el li*/
aside ul li:hover a{
	color: white;
}

/*footer*/
footer{
	background-color: #db008d;
	padding-top: 40px;
	margin-top: 30px;
}

footer h2{
	color: white;
}

footer .contenedor::after{
	content: '';
	display: block;
	clear: both;
}

footer div.nosotros{
	float: left;
	width: 30%;
	color: white;
}

footer div.menu{
	float: right;
	width: 40%;
	text-align: right;
}

footer nav{
	width: auto;
}

footer nav ul li a{
	width: auto;
}

p.copyright{
	padding: 20px 0;
	text-align: center;
	color: white;
}